{% extends 'index.html' %}
{% block content %}
    <h2>Modifier une demande de critique</h2>
    <form method="post" enctype="multipart/form-data">
        {{ edit_form.as_p }}
        {% csrf_token %}
        <button type="submit" >Sauvegarder</button>
    </form>
    <hr>
    <h3>Supprimer la demande de critique ?</h3>
    <form method="post" enctype="multipart/form-data">
        {{ delete_form.as_p }}
        {% csrf_token %}
        <button type="submit" >Supprimer</button>
    </form>
{% endblock content %}