{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <section>
    <div class="border">
        <h1>LITReview</h1>
    </div>
    <div class="border header">

        
        {%  if user.is_authenticated %}
        <div class="header">
            <div class="case"><p>Vous êtes connecté en tant que {{ request.user }}.</p></div>
            <div class="case">
            <p>
                <a href="{% url 'logout' %}">FLux</a>
                <a href="{% url 'logout' %}">Posts</a>
                <a href="{% url 'logout' %}">Abonnements</a>

                <a href="{% url 'logout' %}">Se déconnecter</a>
            </p>
            </div>
        </div>
        <div class="content">
        {% block content %}{% endblock content %}
        </div>
        {% endif %}
    </div>
    <section>



</body>
</html>